<nav>
    <div class="site title">
    <a href="/"><h1>Easy Blog</h1></a>
    <p> a DaErudite site</p>
    </div>
    
    <ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">new blog</a></li>
    </ul>
    
    </nav>    
